<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
	<!-- HEAD -->
	<head>
		<title>Fake News Training</title>
	</head>
	
	<!-- BODY -->
	<body>
		<div id="Welkomsbericht">
			<h1>Welkom!</h1>
		</div>
		<div id="Beschrijving">
			<p>Dit programma is ontwikkeld om u te helpen met het herkennen van fake news artikelen.
				Deze artikelen zijn geplaatst op sociale media platformen zoals Twitter en Facebook, en op websites.
				U zal worden getest door middel van kleine toetsen met daarvoor een passende uitleg.
				<br>
				Het programma werkt als volgt: Het programma bestaat uit 3 delen, genaamd “Websites”, “Twitter”, en “Facebook”.
				Deze delen staan in het hoofdmenu, het scherm dat hierna volgt. Ieder deel behandeld een selectie aan artikelen die zijn geplaatst op dat betreffende platform. 
				Voor de rest van het programma wordt u er doorheen begeleid.
				<br>
				Wij raden u aan om bij “Websites” te beginnen, maar u kunt ook beginnen bij een ander deel. U kunt door het gehele programma de tijd nemen die u nodig hebt.
				<br>
				Wij hopen dat u dit een leerzame ervaring zult vinden en dat u beter fake news kan herkennen na het afronden van ons programma.
				<br>
				Klik met de linkermuisknop op “Volgende” om door te gaan naar het hoofdmenu.
			</p>
		</div>
		<div id="Nextbutton">
			<form action="{{ url_for('mainMenu') }}" id="myForm">
				<button type="submit" form="myForm">
					<p>Volgende</p>
					<img src="{{ url_for('static', filename='images/rightarrow.png') }}" alt="Next Button">
				</button>
			</form>
		</div>
	</body>
</html>