<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/uitleg.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
		<title>Uitleg</title>
	</head>
	<body>
		<div id="uitleg_explainpart">
			{% if myTestType == 'facebook' %}
				<p>Welkom bij "Onderdeel Facebook".
			{% elif myTestType == 'twitter' %}
				<p>Welkom bij "Onderdeel Twitter".
			{% elif myTestType == 'websites' %}
				<p>Welkom bij "Onderdeel Websites".
			{% endif %}
				<br />
				Dit deel, net als de andere twee delen, bestaat uit een uitleggedeelte en een testgedeelte.
				Het uitleggedeelte zult u helpen om verschillende kenmerken van fake news artikelen te kunnen herkennen.
				In het uitleggedeelte krijgt u een voorbeeld te zien van een fake news artikel dat past bij dit platform.
				Ieder kenmerk wordt weergegeven door middel van een rood vakje.
				Als u op dit rode vakje klikt(1 keer met linkermuisknop), dan verschijnt er een nieuw tekstvak.
				Dit tekstvak bevat meer informatie over dat betreffende kenmerk.
				Als u op hetzelfde rode vakje klikt met de linkermuisknop, dan verdwijnt de tekstvak.
				Als u alle kenmerken heeft bekeken, klik dan rechtsonder op het scherm het vakje met “Volgende”.
				Als u daarop klikt met de linkermuisknop, dan gaat u door naar het testgedeelte.
				Maar laten we eerst beginnen met het doorlopen van het uitleggedeelte.
				Klik met de linkermuisknop op “Volgende” om door te gaan naar het uitleggedeelte.
				</p>
		</div>
		<div id="Nextbutton">
			<form action="{{ url_for('voorbeeld', testType=myTestType) }}" id="myForm" method="post">
				<button type="submit" form="myForm">
					<p>Volgende</p>
					<img src="{{ url_for('static', filename='images/rightarrow.png') }}" alt="Next Button">
				</button>
			</form>
		</div>
	</body>
</html>
